@layer utilities {
  .scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }

  .no-scroll {
    @apply overflow-hidden fixed w-full;
  }

  .pageContainer {
    @apply w-[68%];
  }

  @media screen and (max-width: 430px) {
    .pageContainer {
      @apply w-full px-[1.8rem];
    }
  }
}
